<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://raw.githubusercontent.com/andjoye/AnchorEnt/master/AnchorChat.ipa</string>
		<key>displayImageURL</key>
		<string>https://raw.githubusercontent.com/andjoye/AnchorEnt/master/Icon-App-60x60%402x.png</string>
		<key>fullSizeImageURL</key>
		<string>https://raw.githubusercontent.com/andjoye/AnchorEnt/master/Icon-App-60x60%402x.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.anchor.chat</key>
		<string>AnchorChat_Ent</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>4WX689S3M4</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
